Repository zaebee/ownima-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: npx eslint --fix {staged_files} && npx prettier --write {staged_files}

format:
  run: npx prettier --write {staged_files}

feat: Restrict dashboard access to admins/superusers
  src/contexts/AuthContext.tsx
  src/pages/LoginPage.tsx
Due: lint

fix: fallback to creation date for last activity display
  BACKEND_TASKS.md
  src/pages/RiderDetailPage.tsx
  src/pages/UserDetailPage.tsx
  src/pages/UsersPage.tsx
Due: lint, format

feat: add activity feed and user impersonation
  BACKEND_TASKS.md
  src/App.tsx
  src/components/dashboard/RevenueChart.tsx
  src/components/layout/Sidebar.tsx
  src/pages/ActivityFeedPage.tsx
  src/pages/RiderDetailPage.tsx
  src/pages/UserDetailPage.tsx
  src/pages/UsersPage.tsx
Due: lint, format

refactor: modularize activity feed logic and add grouping
  src/components/UserActivityTimeline.tsx
  src/lib/activityGrouping.ts
  src/lib/activityUtils.tsx
  src/pages/ActivityFeedPage.tsx
Due: lint

feat: add global activity feed support
  BACKEND_TASKS.md
  src/pages/ActivityFeedPage.tsx
Due: lint, format

feat: add system monitoring and update activity feed
  BACKEND_TASKS.md
  src/pages/ActivityFeedPage.tsx
  src/pages/Dashboard.tsx
Due: lint, format

feat(docs): add OpenSearch and reservation API specs
  BACKEND_TASKS.md
Due: format

fix: update vehicle pagination to use skip/limit
  src/pages/VehiclesPage.tsx
Due: lint

style: update dashboard UI components for theme support
  src/components/dashboard/OpenSearchAnalytics.tsx
  src/pages/Dashboard.tsx
Due: lint

style: add support for light mode in dashboard cards
  src/pages/ReservationDetailPage.tsx
  src/pages/VehicleDetailPage.tsx
Due: lint

feat: implement user impersonation and status toggle
  src/components/dashboard/OpenSearchAnalytics.tsx
  src/components/dashboard/ReservationsVelocityChart.tsx
  src/components/dashboard/RevenueChart.tsx
  src/components/layout/Layout.tsx
  src/contexts/AuthContext.tsx
  src/lib/activityUtils.tsx
  src/lib/api.ts
  src/pages/ActivityFeedPage.tsx
  src/pages/RiderDetailPage.tsx
  src/pages/UserDetailPage.tsx
  src/pages/UsersPage.tsx
Due: lint

feat(activity): implement fallback for activity feed
  src/pages/ActivityFeedPage.tsx
Due: lint

feat(dashboard): add PlatformEconomicsCard
  src/components/dashboard/PlatformEconomicsCard.tsx
  src/pages/Dashboard.tsx
Due: lint

feat(dashboard): improve active owner calculation logic
  PROPOSED_METRICS_REVIEW.md
  src/components/dashboard/PlatformEconomicsCard.tsx
Due: lint, format

feat(dashboard): enhance economics card with tooltips
  src/components/dashboard/PlatformEconomicsCard.tsx
Due: lint

feat: add data status indicators to dashboard charts
  src/components/dashboard/OpenSearchAnalytics.tsx
  src/components/dashboard/ReservationsVelocityChart.tsx
  src/components/dashboard/RevenueChart.tsx
  src/components/dashboard/VehicleDemandChart.tsx
Due: lint

feat(dashboard): enhance OpenSearch analytics UI
  src/components/dashboard/OpenSearchAnalytics.tsx
Due: lint

feat(dashboard): enhance charts with descriptions
  src/components/dashboard/BookingStatusChart.tsx
  src/components/dashboard/FleetStatusChart.tsx
Due: lint

feat(i18n): implement multi-language support
  src/App.tsx
  src/components/LanguageToggle.tsx
  src/components/dashboard/ActionRequiredAlerts.tsx
  src/components/dashboard/BookingStatusChart.tsx
  src/components/dashboard/FleetStatusChart.tsx
  src/components/dashboard/OpenSearchAnalytics.tsx
  src/components/dashboard/PlatformEconomicsCard.tsx
  src/components/dashboard/ReservationsVelocityChart.tsx
  src/components/dashboard/RevenueChart.tsx
  src/components/dashboard/StatCards.tsx
  src/components/dashboard/UserEngagementCard.tsx
  src/components/dashboard/VehicleDemandChart.tsx
  src/components/layout/Header.tsx
  src/contexts/LanguageContext.tsx
  src/pages/Dashboard.tsx
Due: lint

feat: improve currency display and user caching
  src/pages/ActivityFeedPage.tsx
  src/pages/VehicleDetailPage.tsx
  src/pages/VehiclesPage.tsx
Due: lint

refactor: remove redundant lazy user fetching
  src/pages/ActivityFeedPage.tsx
Due: lint

fix: simplify sandbox badge label
  src/contexts/LanguageContext.tsx
Due: lint

feat: implement token refresh logic
  src/contexts/AuthContext.tsx
  src/lib/api.ts
  src/pages/LoginPage.tsx
Due: lint

fix: improve robustness and audit log handling
  src/lib/activityUtils.tsx
  src/lib/api.ts
  src/pages/ActivityFeedPage.tsx
Due: lint

refactor(ui): update UserReservations table structure
  src/components/UserReservations.tsx
Due: lint

feat(dashboard): implement dynamic reservation periods
  src/components/dashboard/ReservationsVelocityChart.tsx
Due: lint

Path conditions:
  lint: any of: *.{ts,tsx}
  format: any of: *.{json,md,yml,yaml}
