Repository zaebee/ownima-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: npx eslint --fix {staged_files} && npx prettier --write {staged_files}

format:
  run: npx prettier --write {staged_files}

📝 Update release notes
  release-notes.md
Due: format

chore: regenerated actual types.
  src/types/api-generated.ts
Due: lint

fix: restore test coverage and fix type/role/build errors
  src/components/ui/SkeletonLoader.test.tsx
  src/mocks/handlers.ts
  src/pages/ActivityPage.test.tsx
  src/pages/RiderDetailPage.test.tsx
  src/pages/RiderDetailPage.tsx
  src/pages/UserDetailPage.test.tsx
  src/pages/UserDetailPage.tsx
  src/pages/UsersPage.tsx
  src/services/admin.ts
  src/types/index.ts
Due: lint

fix: mock getRiderActivities in UserDetailPage test to prevent CI async leakage
  src/pages/UserDetailPage.test.tsx
Due: lint

chore(tests): vitest.setup.ts — added vi.unstubAllGlobals() to the global
  src/components/ReservationsTable.test.tsx
  vitest.setup.ts
Due: lint

chore(tests): Added test cases for filters.
  src/components/ReservationFilters.test.tsx
  src/components/VehicleFilters.test.tsx
  src/pages/UserDetailPage.test.tsx
  src/services/admin.test.ts
Due: lint

chore: updated test to api sync with backend.
  src/mocks/handlers.ts
  src/services/admin.test.ts
  src/services/admin.ts
Due: lint

chore: Updated admin service ui
  src/components/modals/UserEditModal.test.tsx
  src/components/modals/UserEditModal.tsx
  src/pages/UsersPage.tsx
  src/services/admin.test.ts
  src/services/admin.ts
  src/types/api-generated.ts
Due: lint

chore: Two collateral fixes were needed:
  src/components/modals/RiderEditModal.tsx
  src/pages/UserDetailPage.tsx
  src/types/index.ts
Due: lint

chore: Rider Currency fixes (5 occurrences)
  src/pages/RiderDetailPage.tsx
Due: lint

chore: Increased coverage
  src/pages/RiderDetailPage.test.tsx
  src/pages/UserDetailPage.test.tsx
  src/services/admin.test.ts
Due: lint

feat: add reservations to user list + exclude beta testers filter
  src/components/ui/FilterPanel.test.tsx
  src/components/ui/FilterPanel.tsx
  src/pages/UsersPage.test.tsx
  src/pages/UsersPage.tsx
  src/services/admin.ts
  src/types/index.ts
Due: lint

fix: address PR review — remove redundant cast + improve test coverage
  src/pages/UsersPage.test.tsx
  src/pages/UsersPage.tsx
  src/services/admin.test.ts
Due: lint

feat: user list reservations + dashboard beta tester filter (#22)
  src/components/ui/FilterPanel.test.tsx
  src/components/ui/FilterPanel.tsx
  src/pages/UsersPage.test.tsx
  src/pages/UsersPage.tsx
  src/services/admin.test.ts
  src/services/admin.ts
  src/types/index.ts
Due: lint

chore: upgrade deps + fix recharts PieLabelRenderProps breaking change
  bun.lock
  package.json
  src/components/ui/StatusPieChart.tsx
Due: lint, format

fix: use toFixed(1) in pie label for consistency with legend format
  src/components/ui/StatusPieChart.tsx
Due: lint

chore: upgrade deps + fix recharts breaking change (#23)
  bun.lock
  package.json
  src/components/ui/StatusPieChart.tsx
Due: lint, format

Feat/admin user list (#22)
  bun.lock
  release-notes.md
  src/pages/UsersPage.test.tsx
  src/pages/UsersPage.tsx
  src/services/admin.test.ts
  src/utils/csvExport.test.ts
  src/utils/dateFormatting.test.ts
Due: lint, format

feat(users): Added total vehicles metric for owner list
  src/pages/UsersPage.tsx
  src/types/index.ts
Due: lint

Feat/vehicle count (#24)
  bun.lock
  package-lock.json
  release-notes.md
  src/pages/UsersPage.test.tsx
  src/pages/UsersPage.tsx
  src/services/admin.test.ts
  src/types/index.ts
  src/utils/csvExport.test.ts
  src/utils/dateFormatting.test.ts
Due: lint, format

feat(users): Added total vehicles metric for owner list (#24)
  bun.lock
  package.json
  release-notes.md
  src/pages/UsersPage.tsx
  src/types/index.ts
Due: lint, format

Initial commit
  README.md
Due: format

feat: Initialize Ownima Admin Dashboard project
  .env.example
  .gitignore
  README.md
  index.html
  metadata.json
  package-lock.json
  package.json
  src/App.tsx
  src/components/ProtectedRoute.tsx
  src/components/UserActivityTimeline.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/Sidebar.tsx
  src/components/ui/avatar.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/components/ui/table.tsx
  src/contexts/AuthContext.tsx
  src/index.css
  src/lib/utils.ts
  src/main.tsx
  src/pages/Dashboard.tsx
  src/pages/LoginPage.tsx
  src/pages/ReservationsPage.tsx
  src/pages/RiderDetailPage.tsx
  src/pages/RidersPage.tsx
  src/pages/SettingsPage.tsx
  src/pages/UserDetailPage.tsx
  src/pages/UsersPage.tsx
  src/pages/VehiclesPage.tsx
  tsconfig.json
  vite.config.ts
Due: lint, format

feat: Add vehicle detail route and integrate Radix Slot
  package-lock.json
  package.json
  src/App.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/textarea.tsx
  src/pages/UsersPage.tsx
  src/pages/VehicleDetailPage.tsx
  src/pages/VehiclesPage.tsx
Due: lint, format

feat: Integrate API for authentication and configuration
  .env.example
  package-lock.json
  package.json
  src/lib/api.ts
  src/pages/LoginPage.tsx
Due: lint, format

feat(login): Pass user_type=owner to access token endpoint
  src/pages/LoginPage.tsx
Due: lint

feat: Configure Vercel for SPA routing
  vercel.json
Due: format

feat(UsersPage): Fetch users from API and display
  src/pages/UsersPage.tsx
Due: lint

feat(utils): Add getMediaUrl utility
  src/lib/utils.ts
  src/pages/UsersPage.tsx
Due: lint

refactor: Rename "owners" route to "users"
  src/App.tsx
  src/components/layout/Header.tsx
  src/components/layout/Sidebar.tsx
  src/contexts/AuthContext.tsx
Due: lint

feat(details-page): Fetch user and rider data dynamically
  src/pages/RiderDetailPage.tsx
  src/pages/UserDetailPage.tsx
Due: lint

Path conditions:
  lint: any of: *.{ts,tsx}
  format: any of: *.{json,md,yml,yaml}
