Repository zaebee/ownima-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: npx eslint --fix {staged_files} && npx prettier --write {staged_files}

format:
  run: npx prettier --write {staged_files}

test: add comprehensive BulkActionBar component tests
  src/components/ui/BulkActionBar.test.tsx
Due: lint

fix: remove unused variables from Phase 2 test files
  src/components/ui/BulkActionBar.test.tsx
  src/components/ui/RatingStars.test.tsx
  src/components/ui/UserProfileHeader.test.tsx
Due: lint

docs: add comprehensive session summary for test coverage work
  SESSION_SUMMARY.md
Due: format

tests: Added admin test cases.
  SESSION_SUMMARY.md
  src/services/admin.test.ts
Due: lint, format

📝 Update release notes
  release-notes.md
Due: format

chore: Removed obsolete docs.
  GEMINI.md
  docs/FEATURE_ADMIN_METRICS_BLOCKS.md
  docs/FEATURE_COMPACT_METRICS.md
  docs/FEATURE_PLAN_ACTIVITY_FEED.md
  docs/IMPLEMENTATION_START_PLAN.md
  docs/ROADMAP.md
  docs/TESTING_DECISION_TREE.md
  docs/TESTING_IMPLEMENTATION_GUIDE.md
  docs/TESTING_INDEX.md
  docs/TESTING_PHASE_5_PLAN.md
  docs/TESTING_PLAN.md
  docs/TESTING_QUICK_START.md
  docs/TESTING_SUMMARY.md
Due: format

chore: Docs cleanup.
  SESSION_SUMMARY.md
  TESTING_PLAN.md
  docs/TESTING_BEST_PRACTICES.md
  docs/TESTING_TROUBLESHOOTING.md
Due: format

chore: Updated backend integration.
  docs/BACKEND_INTEGRATION.md
Due: format

feat: Implemented owner/rider activity details.
  src/components/UserActivityTimeline.tsx
  src/pages/RiderDetailPage.tsx
  src/pages/UserDetailPage.tsx
  src/services/admin.ts
  src/types/api-generated.ts
Due: lint

chore: set claude/gemini as symlink from readme.
  GEMINI.md
  README.md
Due: format

chore: Unified activity item for user page and all activities.
  src/components/UserActivityTimeline.tsx
  src/types/index.ts
Due: lint

chore: fix avatar url for beta env.
  src/config/environment.test.ts
  src/config/environment.ts
Due: lint

chore: added robots.txt
  public/robots.txt
Due: none

chore: Regenerated api contracts.
  README.md
  src/types/api-generated.ts
Due: lint, format

chore: Added mocks for vehicles/reservations list admin.
  src/components/modals/UserCreateModal.tsx
  src/components/modals/UserEditModal.tsx
  src/mocks/handlers.ts
  src/services/admin.ts
  src/types/index.ts
Due: lint

feat: implemented vehicles/reservations list for admin user.
  src/components/ReservationFilters.tsx
  src/components/ReservationsTable.test.tsx
  src/components/ReservationsTable.tsx
  src/components/VehicleFilters.tsx
  src/components/VehiclesTable.test.tsx
  src/components/VehiclesTable.tsx
  src/pages/UserDetailPage.tsx
  src/types/index.ts
Due: lint

feat: Added domain prefix for photo vehicles.
  src/components/ReservationsTable.tsx
  src/components/VehiclesTable.tsx
  src/config/environment.ts
  src/services/admin.ts
Due: lint

chore: Synced reservation status with backend.
  src/components/ReservationsTable.tsx
  src/types/index.ts
Due: lint

chore: Fix test cases for reservation table.
  src/components/ReservationsTable.test.tsx
Due: lint

chore: Optimize CI/CD workflows for 76% faster builds
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
Due: format

feat: Add advanced CI/CD optimizations for even faster builds
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: format

feat: Add Bun test compatibility fixes and matrix builds
  .github/workflows/release.yml
  vitest.setup.ts
Due: lint, format

chore: Fixed artifact name build-production-*.tar.gz but our matrix is creating build-admin-*.tar.gz
  .github/workflows/release.yml
Due: format

chore: Incresed coverage for admin tests.
  src/services/admin.test.ts
Due: lint

chore: Added test cases for modals.
  src/components/modals/UserCreateModal.test.tsx
  src/components/modals/UserEditModal.test.tsx
Due: lint

chore: Fixed linter errors for modal tests.
  src/components/modals/UserCreateModal.test.tsx
  src/components/modals/UserEditModal.test.tsx
Due: lint

chore: Fixed test cases for modals.
  src/components/modals/UserCreateModal.test.tsx
  src/components/modals/UserEditModal.test.tsx
Due: lint

chore: Updated node version for ci tests.
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: format

devops: Updated deploy workflow to common playbook.
  .github/workflows/deploy-prod.yml
Due: format

chore: Fixed ansible args to run artifact.
  .github/workflows/deploy-prod.yml
Due: format

Path conditions:
  lint: any of: *.{ts,tsx}
  format: any of: *.{json,md,yml,yaml}
