Repository zaebee/ownima-admin: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

# lefthook.yml
pre-commit:
  commands:
    lint:
      glob: "*.{ts,tsx}"
      run: npx eslint --fix {staged_files} && npx prettier --write {staged_files}
    format:
      glob: "*.{json,md,yml,yaml}"
      run: npx prettier --write {staged_files}

pre-push:
  commands:
    test:
      run: npm run test:run

devops added gh workflow for deployment.
  .github/workflows/deploy-prod.yml
  .github/workflows/notify-telegram.yml
  .github/workflows/release.yml
Due: format

chore: Added release-notes.md file.
  release-notes.md
Due: format

📝 Update release notes
  release-notes.md
Due: format

chore: added release-drafter-config file.
  .github/release-drafter-config.yml
Due: format

chore: removed staging from build.
  .github/workflows/release.yml
Due: format

chore: changes API url for prod env.
  src/config/environment.ts
Due: lint

chore: Fixed test for env.
  src/config/environment.test.ts
Due: lint

feat: Create activity timeline page.
  docs/FEATURE_PLAN_ACTIVITY_FEED.md
  src/App.tsx
  src/components/ActivityTimeline.tsx
  src/components/layout/Sidebar.tsx
  src/mocks/handlers.ts
  src/pages/ActivityPage.tsx
  src/pages/SystemPage.tsx
  src/pages/UserDetailPage.tsx
  src/services/admin.ts
  src/types/api-generated.ts
  src/types/index.ts
Due: lint, format

chore: added test cases for Activity feed.
  src/components/ActivityTimeline.test.tsx
  src/mocks/handlers.ts
  src/services/admin.test.ts
Due: lint

chore: Fixed test cases for system/sidebar/activity.
  src/components/ActivityTimeline.test.tsx
  src/components/layout/Sidebar.test.tsx
  src/pages/SystemPage.test.tsx
  src/pages/SystemPage.tsx
  src/services/admin.test.ts
Due: lint

chore: marked failed tests as skip.
  src/components/ActivityTimeline.test.tsx
  src/components/ActivityTimeline.tsx
Due: lint

chore: changed prod prefix for API.
  src/config/environment.test.ts
  src/config/environment.ts
Due: lint

chore: Updated admin metrics.
  docs/FEATURE_ADMIN_METRICS_BLOCKS.md
  src/mocks/handlers.ts
  src/pages/DashboardPage.test.tsx
  src/pages/DashboardPage.tsx
  src/services/admin.test.ts
  src/services/admin.ts
  src/types/api-generated.ts
  src/types/index.ts
Due: lint, format

chore: Updated docs.
  docs/FEATURE_ADMIN_METRICS_BLOCKS.md
Due: format

Update CI and Coverage badge links in README
  README.md
Due: format

feat: Add StatusPieChart component with centralized color scheme
  src/components/ui/StatusPieChart.test.tsx
  src/components/ui/StatusPieChart.tsx
  src/components/ui/statusColors.ts
  src/types/api-generated.ts
Due: lint

refactor: Implement metric factory pattern for DRY/KISS compliance
  src/components/ui/MetricBlock.tsx
  src/mocks/handlers.ts
  src/pages/DashboardPage.tsx
  src/types/index.ts
  src/utils/metricCalculations.ts
  src/utils/metricFactory.ts
Due: lint

test: Add comprehensive tests for metric utilities
  src/pages/DashboardPage.test.tsx
  src/utils/metricCalculations.test.ts
  src/utils/metricFactory.test.ts
Due: lint

docs: Update documentation for compact metrics implementation
  CLAUDE.md
  docs/FEATURE_COMPACT_METRICS.md
  docs/ROADMAP.md
  docs/UI_UX_IMPROVEMENTS.md
Due: format

feat: add type system architecture and data normalization utilities
  src/types/api.ts
  src/types/index.ts
  src/types/ui.ts
  src/utils/dataNormalization.ts
Due: lint

feat: add shared UI components for user profiles
  src/components/ui/RatingStars.tsx
  src/components/ui/UserBadges.tsx
  src/components/ui/UserProfileHeader.tsx
Due: lint

refactor: migrate UserDetailPage to shared components
  src/pages/UserDetailPage.tsx
Due: lint

feat: add rider detail page and edit functionality
  src/App.tsx
  src/components/modals/RiderEditModal.tsx
  src/pages/RiderDetailPage.tsx
Due: lint

feat: add bulk user management infrastructure
  src/components/ui/BulkActionBar.tsx
  src/services/admin.ts
Due: lint

feat: enhance users page with bulk actions, sorting, and CSV export
  src/pages/UsersPage.tsx
  src/utils/csvExport.ts
Due: lint

feat: add shared utility functions and validation constants
  src/constants/validation.ts
  src/utils/dateFormatting.ts
Due: lint

docs: add backend integration guide and update project documentation
  CLAUDE.md
  docs/BACKEND_INTEGRATION.md
Due: format

fix: replace explicit any types with proper TypeScript types
  src/pages/RiderDetailPage.tsx
  src/pages/UsersPage.tsx
  src/types/api.ts
  src/types/ui.ts
  src/utils/dataNormalization.ts
Due: lint

test: add comprehensive tests for utilities and UI components (Phase 1)
  src/components/ui/UserBadges.test.tsx
  src/utils/csvExport.test.ts
  src/utils/dataNormalization.test.ts
  src/utils/dateFormatting.test.ts
Due: lint

fix: update csvExport tests to mock URL methods properly
  src/utils/csvExport.test.ts
Due: lint

docs: add Phase 2 testing continuation plan
  TESTING_PLAN.md
Due: format

chore: fixed linter.
  src/components/ui/UserBadges.test.tsx
  src/utils/csvExport.test.ts
Due: lint

fix: remove unused variables from test files
  src/components/ui/UserBadges.test.tsx
  src/utils/csvExport.test.ts
Due: lint

test: add comprehensive RatingStars component tests
  src/components/ui/RatingStars.test.tsx
Due: lint

test: add comprehensive UserProfileHeader component tests
  src/components/ui/UserProfileHeader.test.tsx
Due: lint
